@{
    ViewData["Title"] = "Flights";
}
@model flight_manager_2021.Models.Reservations.ReservationsIndexViewModel

<div style="width: 20rem; height: 20rem; background-color: darkred;">
    You shouldn't be able to see this if you aren't logged in!
</div>
