@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="content-incasing">
    <div class="flight-content" style="background-color: rgba(230, 230, 230, 0.863);">
        <h1 style="text-align: center;">Reservation Successful!</h1>
        <h3 style="text-align: center;">Emailing system hasn't been implemented yet</h3>
    </div>
</div>
