/* 
	Pallet 
DarkBlue: #00254f
GrayBlue: #49586a
DarkGray: #737477
LightGray: #a7a9ac
PastelBlue: #4c6073
*/

/*--Globals-Start--*/

html{
	color: #e8eef1;
	font-family: NeueHaasUnicaW1G, sans-serif;
	font-size: 16px;
	
	position: relative;
	
	min-height: 100%;
}

body{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

span{
	color: #e8eef1;
}

a:link{
	text-decoration: none;
}

a:visited{
	text-decoration: none;
}

button:disabled{
	opacity: .25;
}

/*--Globals-End--*/

/*--Background-Start-*/

.background{
	position: absolute; 
	overflow: visible;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.background-image{
	position: sticky;
	top: 0px; 
	left: 0px;
	width: 100%;
	z-index: -2;
}

.background-vignette{
	position: absolute; 
	top: 0px;
	left: 0px;
	width: 100%; 
	height: 100%; 
	z-index: -1; 
	background-color: rgba(0,0,0,0.4); 
}
/*--Background-End--*/


/*--Header-Start--*/

.header{
	position: relative;
	top: 0;

	max-height: 2rem;
	/*width: 95%;*/
	padding: 2rem;

	display: grid;
	grid-template-columns: auto auto;
}

.header-options{
	float: left;
	margin-left: 2rem;
	display: grid;
	width: 33.875rem;
	grid-template-columns: auto auto auto auto;
}

.header-container-button{
	margin: auto;
}

.header-container-logo{
	margin: auto;
	float: right;
}

.svg{
	width: 1.3rem; 
	height: 1.3rem; 
	padding-right: 0.6rem; 
	float: left;
}

.search{
	background: #e8eef1; 
	color: rgb(128, 128, 128);

	outline: none;

	border: 10px;
	border-radius: 2px; 
	box-shadow: 0 1px 5px 0 rgba(255, 255, 255, 0.5);
}

/*--Content--*/

.content-incasing{
	color: rgb(88, 88, 88);
	width: 100%; 
	min-height: 40rem;
}

/*--Footer--*/

.footer{
	display: grid;
	padding: 2rem;
}

/*--Media--*/

@media(max-width:750px){
	.header{
		/*background-color: #00254f;
		box-shadow: 0px 1px 2px 0px #00254f;*/
		max-height: none;
		padding-top: 0px;
		grid-template-columns: none;
	}
	.header-options{
		float:none;
		width: unset;
		margin: auto;
		grid-template-columns: auto;
	}
	.header-container-button{
		margin-top: 1rem;
	}
	#logo{
		display: none;
	}
}